@model int
<div class="row">
    <div class="col-md-6">
        <input type="submit" value="Delete" class="btn btn-danger" asp-route-Id="@Model" />
    </div>
    <div class="col-md-6">
        <a asp-action="Index" class="btn btn-info">Back To List</a>
    </div>
</div>