@model int
<div class="row">
    <div class="col-md-6">
        <a type="submit" value="Edit" asp-action="Edit" class="btn btn-danger" asp-route-Id="@Model" >Edit</a>
    </div>
    <div class="col-md-6">
        <a asp-action="Index" class="btn btn-info">Back To List</a>
    </div>
</div>
